@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy Statement is incorporated into and subject to the terms of the Eray Özbal Terms of Use.
    By using the Site and voluntarily providing your personally identifiable information to me,
    you consent to the collection and use of such personally identifiable information as set forth in this Privacy Statement. 
    If you do not agree to the terms of this Privacy Statement, please do not provide me with any information and do not use the Site :))</p>
